@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --color-gardenStone: #F9F9F6;
  --color-softGreen: #D4EAC8;
  --color-olive: #6B8E23;
  --color-gardenStone: #F9F9F6;
  --color-softRed: #F6B8B8;
  --color-softBlue: #D6EAF8;
}
